* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.cover {
  background: url(./cover.png);
  width: 50%;
  float: left;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.register {
  width: 50%;
  float: left;
  height: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header {
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 16px 24px;
  margin: 0 auto;
  width: 80%;
}

.agian {
  padding: 12px 0;
  border: 1px solid #fff;
}
.button-agian {
  font-size: 14px;
  padding: 8px 8px;
  color: #3f51b5;
  border: none;
  box-shadow: none;
  background-color: white;
  float: right;
}

.box-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.form-lable {
  font-size: 16px;
  height: 24px;
}

span {
  color: #d32f2f;
}

.box-form-input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

p {
  color: #d32f2f;
  font-size: 12px;
}

.form-input {
  border: 1px solid #c4c4c4;
  height: 50px;
  padding: 0 8px;
}
