* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  height: 90px;
  background-image: linear-gradient(to right, #ed1b23, #2e3091, #2e3091);
}

.container_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 36px;
  height: 50px;
  margin-bottom: 20px;
}

.brand {
  display: flex;
  gap: 16px;
}

h6 {
  font-size: 16px;
  padding: 15px;
  color: white;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  padding: 15px;
}

li {
  color: white;
}

li > *:not(span) {
  color: #000;
}

.button_login {
  width: 135px;
  border-radius: 8px 8px 8px 0;
  height: 40px;
  margin: 5px 0 0 0;
  border: none;
}

.heading {
  background-color: #f7fbfe;
  padding: 16px 36px;
  display: none;
  gap: 5px;
  flex-direction: column;

  position: absolute;
  top: 40px;
  left: calc(-208px + 150%);
}

.tracuu {
  position: relative;
}

.tracuu:hover .heading {
  display: flex;
}

.frame {
  border: 1px solid #ffffff;
  background-color: white;
  display: flex;
  gap: 16px;
  padding: 0 16px;
  width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
}

i {
  font-size: 30px;
}

.chart {
  padding: 0 36px;
}

.container_chart {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 50px;
}

.img_ch {
  background-position: center;
  background-size: cover;
  width: 100%;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2d2188;
  padding: 32px 16px;
}

.footer p {
  color: white;
  font-size: 14px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container_footer_right {
  display: flex;
  gap: 16px;
}

.container_footer_right button {
  padding: 8px 22px;
  border: none;
  background-color: #2d2188;
  color: white;
  border: 1px solid white;
  border-radius: 8px 8px 8px 0;
}

.right p {
  text-align: end;
}

.box_img {
  display: flex;
  justify-content: end;
}

/* footer */

.container_main {
  padding: 12px 12px 20px 12px;
}

.search_container_main {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  height: 40px;
}

input {
  width: 250px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  border-radius: 4px;
}

.search {
  padding: 8px 16px;
  background-color: #171a88;
  color: #ffffff;
  border-radius: 8px;
}

table {
  width: 100%;
}

td {
  text-align: center;
  height: 40px;
  border-bottom: 1px solid #eeeeee;
}

th {
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  height: 40px;
}

.row_gray {
  background-color: #eeeeee;
}

h3 {
  padding: 16px;
}
