* {
  padding: 0;
  margin: 0;
}

header {
  height: 90px;
  background-image: linear-gradient(to right, #ed1b23, #2e3091, #2e3091);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 36px;
  height: 50px;
}

.brand {
  display: flex;
  gap: 16px;
}

h6 {
  font-size: 16px;
  padding: 15px;
  color: white;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  padding: 15px;
}

li {
  color: white;
}

.menuuser {
  padding: 0 36px;
  display: flex;
  gap: 16px;
  height: 64px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
}

.box {
  padding: 21px 8px;
}

.result {
  padding: 20px 36px 700px 36px;
}

table {
  width: 100%;
  border: 1px solid #eeeeee;
}

th {
  height: 48px;
  background-color: #eeeeee;
}

td {
  text-align: center;
}

tr {
  height: 48px;
}

.td_button {
  border: 1px solid #3f51b5;
  border-radius: 15px;
  padding: 4px 30px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2d2188;
  padding: 32px 16px;
}

.footer p {
  color: white;
  font-size: 14px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container_footer_right {
  display: flex;
  gap: 16px;
}

.container_footer_right button {
  padding: 8px 22px;
  border: none;
  background-color: #2d2188;
  color: white;
  border: 1px solid white;
  border-radius: 8px 8px 8px 0;
}

.right p {
  text-align: end;
}

.box_img {
  display: flex;
  justify-content: end;
}

/* footer */
